@font-face { font-family: Lemonchicken; src: url('LEMONCHI.ttf'); } 
@font-face { font-family: Oranienbaum; src: url('Oranienbaum.ttf');}
body {
  background-color: #002925;
  
}

.jumbotron {
  margin: 60px 100px 40px 120px;
  width: 75%;
  height: 500px;
  background-color: #A4ADB7;
  border-radius: 0;
  box-shadow: 10px 10px black;
}

.head{
  font-size: 60px;
  font-family: 'lemonchicken';
}

.paragraph {
  font-family: 'Oranienbaum';
}

.datab {
  margin-top: 0;
}
.databimage {
  margin-top: 0px;
}

.ven {
  font-size: 40px;
  margin-left: 60px;
}

.venp {
  margin-left: 60px;
}
.me {
 
}

.vendor {
 
}

.music {

}

.survey {
 
}

.store {

}
@media (max-width: 440px) {
  section {
    padding: 20px;
  }
}
